{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "extends": "airbnb",
    "rules": {
        "max-len": [1, 100, 2, {ignoreComments: true}],
        "quote-props": [1, "consistent-as-needed"],
        "no-cond-assign": [2, "except-parens"],
        "radix": 0,
        "space-infix-ops": 0,
        "no-unused-vars": [1, {"vars": "local", "args": "none"}],
        "default-case": 0,
        "no-else-return": 0,
        "no-param-reassign": 0,
        "quotes": 0,
        "comma-dangle": [1, "only-multiline"],
        "vars-on-top": 0,
        "prefer-const": 1,
        "eqeqeq": 1,
        "import/imports-first": 1,
        "consistent-return": 0,
        "import/no-mutable-exports": 0,
        "no-class-assign": 0,
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/href-no-hash": 1,
        "camelcase": 1,
        "no-fallthrough": 0,
        "no-restricted-syntax": 1,
        "guard-for-in": 1,
        "array-callback-return": 1,
        "class-methods-use-this": 1,
        "jsx-a11y/no-static-element-interactions": 1,
        "react/forbid-prop-types": 1,
        "arrow-parens": 1,
        "no-bitwise": 1,
        "no-plusplus": 1,
        "no-extend-native": 1,
        "no-use-before-define": 1,
        "no-unused-expressions": 1,
        "no-continue": 1,
        "no-prototype-builtins": 1,
        "dot-notation": 1,
    }
}
