app:
    secret-key: abc01234  # This secret key can be any random string of
                          # characters.  Typically ``os.urandom(24)`` is
                          # good enough.

paths:
    # Note below that defined variables can be reused in subsequent
    # definitions.

    data_path: '~/.local/cesium'
    models_folder: '{data_path}/models'
    features_folder: '{data_path}/extracted_features'
    predictions_folder: '{data_path}/predictions'
    ts_data_folder: '{data_path}/ts_data'

    upload_folder: '{data_path}/uploads'
    custom_feature_script_folder: '{data_path}/uploads/custom_feature_scripts'

database:
    database: cesium
    host: 
    port: 5432
    user: cesium
    password: 

server:
    url: http://localhost:5000
