web:
  image: cesium/web
  ports:
    - "9000:5000"
    - "9001:5001"
  links:
    - db

db:
  image: postgres:9.6
  environment:
    - POSTGRES_USER=cesium
    - POSTGRES_PASSWORD=
    - POSTGRES_DB=cesium
