.projectsListItems-enter {
  opacity: 0.01;
}

.projectsListItems-enter.projectsListItems-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.projectsListItems-leave {
  opacity: 1;
}

.projectsListItems-leave.projectsListItems-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
body {
  background-color: white !important;
  margin: 0;
  font-family: 'Fira Sans', sans-serif !important;
}

.loginBox {
    position: fixed;
    left: 50%;
    width: 30em;
    margin-left: -16em; /*set to a negative number 1/2 of your width + 1*/
    margin-top: 2em;
    padding: 2em;
}

.loginBox .logo {
    float: left;
    padding: 1em;
}